.garage-item {
  border-bottom: 6px dashed #4a4a4a;
  padding-top: 10px;
}

.car {
  width: 80px;
  height: 62px
}

.garage-item-controls {
  button {
    padding: 5px;
    margin-right: 3px;
  }
}

.car-name {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.animate {
  animation: slide linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes slide {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: calc(100% - 50px);
  }
}