.garage-item {
  height: 100px;
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.car {
  width: 80px;
}

.animate {
  animation: slide linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes slide {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: calc(100% - 50px);
  }
}